.main{
    background-color: aqua;
    display:grid ;
    grid-template-rows:100px 200px 300px 400px  ;
    grid-template-columns: 200px 600px ;
}
.one{
    background-color:red;
    padding: 10px;
    margin: 10px;
}
    
    .first{
        background-color:red;
        padding: 10px;
        margin: 10px;
        grid-row: 1/span 2;
    }
        
       
            
            